body,
html {
    margin: 0;
    box-sizing: border-box;
}



.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(138, 138, 179);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.card {
    width: 33.2%;
    height: 200px;
    background-color: burlywood;
    border: 0.1px solid black;

}